################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AzuureSnapshotManager/v14
/bin/Debug
/obj/Debug
/packages
